

html {
  height: 100vh;
  
}


.App {
  margin: 0;
  background-image: url('https://th.bing.com/th/id/OIG.p1xDRGNwkYeCXnxR2apa?w=1024&h=1024&rs=1&pid=ImgDetMain');
  background-size: cover;
  height: 100%;
}

body {
 
  
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#services {
  margin-left: 75px;
  margin-right: 75px;
}
.react-toast-notifications__container {
  z-index: 1000;
}

.modal {
  margin-top: 40px;
  padding-bottom: 5px;
  margin-left: 75px;
  margin-right: 75px;
}


#login {
 margin-bottom: 0px;
}

#title{
margin-top: -15px;
margin-bottom: 0px;
}

#headerButtons {
  display: flex;
  justify-content: space-evenly;
  margin-top: 5px;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 16px;
}

.image-grid img {
  width: 100%;
  height: auto;
}

#loginImage {
  margin-bottom: 57px;
}

#emailForm {
  display: table-caption;
  margin-left: 20%;
  margin-right: 20%;
}

#emailContainer {
  display: inline-block;
  width: 40vh;
  margin-left: 30%;
  margin-bottom: 63px;
}


form.ui.form div.field div.ui.input input:-webkit-autofill:focus {
  border-color: #fff !important;
  box-shadow:  #fff 0px 0px 0px 100px inset !important;
}


/* _______________________________services responsive css_________________ */
/* @media only screen and (max-width: 767px) {
  .services-segment {
    padding: 10px;
  }

  .service-item {
    flex-direction: column;
  }

  .service-item img {
    margin-bottom: 10px;
  } 
} */

